<div  class="contOrders" [ngClass]="{ocult:viewProducto}">

    
    <div *ngIf="userBikerVerify == false">
    <p class="mjsCont">Bienvenido, Es un gusto tener con nosotros, te invitamos a que te relaciones con la plataforma, revisa la Orden de prueba y click sobre ella para ver los detalles.</p>
        
    <div *ngFor="let orden of data">
        <div class="rowContainer" (click)="viewDetail(orden)">

            <div class="itemNum">
                <h4>{{data.indexOf(orden)+1}}</h4>
            </div>

            <div class="itemData">
                <div class="contDirection">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <p class="textLocation">{{orden.ubicacionEntrega}}</p>
                </div>

                <div class="contList">
                    <p class="products">Productos:</p>
                    <ul *ngFor="let product of orden.productosOrden">
                        <li>{{product.nombreProducto}}</li>
                        <!-- <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

    </div>

    <div *ngIf="userBikerVerify">
        <div *ngFor="let orden of ordenes">
            <div class="rowContainer" (click)="viewDetail(orden)">

                <div class="itemNum">
                    <h4>{{ordenes.indexOf(orden)+1}}</h4>
                </div>

                <div class="itemData">
                    <div class="contDirection">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <p class="textLocation">{{orden.ubicacionEntrega}}</p>
                    </div>

                    <div class="contList">
                        <p class="products">Productos:</p>
                        <ul *ngFor="let producto of orden.productosOrden">
                            <li>{{producto.nombreProducto}}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="contModal" [ngClass]="{view:viewProducto}">

    <div class="msjPrinc">
        <svg (click) = "return()"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <p>Detalle Orden</p>
        <div class="barra"></div>
    </div>
    
    <div class="bodyModal">
        <p class="textEmpre"><b>Cliente: </b>{{ordenView.nombreCliente}}</p>
        <p class="textEmpre"><b>Direccion: </b>{{ordenView.ubicacionEntrega}}</p>
        <p class="textEmpre"><b>Empresa: </b>{{ordenView.nombreEmpresaDistribuye}}</p>
        
        <div class="products">
            <p><b>Productos:</b></p>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tr *ngFor="let product of ordenView.productosOrden">
                    <td>{{product.nombreProducto}}</td>
                    <td>{{product.cantidad}}</td>
                    <td>Notaa</td>
                </tr>                
            </table>
        </div>

        <div class="location">
            <p class="textUbicacion"><b>Ubicacion:</b></p>

            <div *ngIf="viewProducto">
                <app-map-orders-available [lat]="coordenadas.lat" [long]="coordenadas.lng"></app-map-orders-available>
            </div>
            <!-- <google-map width ="100%" heigth="200px" [center]="position">
                <map-marker [position]="position" [label]="label" [title]="title" ></map-marker>
            </google-map> -->
            <!-- <img src="assets/imgs/map.png" alt="map"> -->

        </div>

        <p class="textCost"><b>Renumeracion:</b> 30 Lempiras.</p>
        <button class="btnOrden" type="button" *ngIf="!selectOrden"  (click)="getOrden(ordenView)">Tomar Orden</button>

    </div>
</div>

