<div class="body">
    
    <img class="img" src="assets/imgs/lima.png" alt="Lima Limon Logo">

    <p class="msj">Postulate, para poder ser parte de nuestro equipo de motoristas, acortemos distancias y llevemos los mejores productos a todo el territorio nacional.</p>
    
    <div class="bottons">
        <button (click)="unirse()" >Postularme</button>
        <button (click)="ingresar()">Ingresar</button>
    </div>
    
    
</div>

<!-- <div class="body">
    
    <img class="img" src="assets/imgs/lima.png" alt="Lima Limon Logo">

    <p class="textMsj">Postulate</p>
    <p class="msj">Unete a nuestro equipo de motoristas, acortemos distancias y llevemos los mejores productos a todo el territorio nacional.</p>
    
    <div class="bottons">
       <a (click)="unirse()">Postularme como motorista</a>
         <li><a (click) = "ingresar()">Ingresar</a></li> 
    </div>
    <p class="textLogin">¿Ya tienes una cuenta?</p>
    <p class="textLogin sesionText">Inicia Sesion</p>
    
    
</div> -->

