$Primary: #11D469
$Secundary: #0DA351
$Background: #DBDBDB
$Alert: #FEF102
$Dark: #053D1E
$Black: #000000
$White: #FFFFFF

        
.body
    background-image: url('/assets/imgs/vector.svg')
    background-position: top
    // background-size: contain
    background-size: cover
    background-repeat: no-repeat, no-repeat
    position: relative
    width: 100vw
    height: 100vh  
    background-color: $Background
    padding: 0.8rem
    overflow: hidden
    .img
        width: 290px
    .msj
        font-family: 'Raleway'
        font-size: 1.3rem
        color: $White
        width: 100%
        margin-left: 8px
        margin-bottom: 1rem
        text-align: left
        margin-top: 6px
    .textMsj
        color: $White
        font-size: 2rem
        text-align: center
        font-family: 'Raleway'
        margin-bottom: 1rem
        margin-top: 2.3rem
        font-weight: 600
    .bottons
        width: 100%
        margin-top: 1.7rem
        button
            width: 47%
            padding: 0.4em 0em
            margin-left: 3%
            border-radius: 0.7rem
            border-width: none
            border: $Alert 2px solid
            font-size: 1.4rem
            color: $White
            // font-weight: 600
            background-color: #0DA351
            // background-color: #00000069

        
    .deliveryImg
        width: 100%
        margin-top: 20%
    .p
        display: none
    .textLogin
        text-decoration: underline
        color: $Secundary
        font-size: 1.1rem
        text-align: center
        margin-top: 5px

