<!-- <div class="body">
    
    <img class="img" src="assets/imgs/lima.png" alt="Lima Limon Logo">

    <p class="msj">Unete a nuestro equipo de motoristas, acortemos distancias y llevemos los mejores productos a todo el territorio nacional.</p>
    
    <div class="bottons">
        <li><a (click)="unirse()">Unirse</a></li>
        <li><a (click) = "ingresar()">Ingresar</a></li>
    </div>
    
    
</div> -->
<div class="body">
    
    <img class="img" src="assets/imgs/lima.png" alt="Lima Limon Logo">

    <p class="textMsj">Postulate</p>
    <p class="msj">Unete a nuestro equipo de motoristas, acortemos distancias y llevemos los mejores productos a todo el territorio nacional.</p>
    
    <div class="bottons">
        <li><a (click)="unirse()">Postularme como motorista</a></li>
        <!-- <li><a (click) = "ingresar()">Ingresar</a></li> -->
    </div>
    <p class="textLogin">¿Ya eres un motorista de Lima-Limon?, Inicia Sesion.</p>
    
    
</div>

