<div class="contProfile" >

    <div class="textProfile">
        <svg (click) = "return()"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <h2>Mi Perfil</h2>
        <div class="barra"></div>
    </div>

    <div class="infoProfile">
        <img [src]="imgProfile" alt="userFoto">
        <p class="name">Luis Alejandro Banegas</p>
        <p class="email">Luisbanegas@gmail.com</p>
    </div>
    <div class="optionsProfile">
        <p>Configuracion de la cuenta</p>
        <button (click)="goPhotoProfile()"  [ngClass]="{btnConfig: clickBtn == 1}" type="button">Fotografia</button>
        <button (click)="goProfile()" [ngClass]="{btnConfig: clickBtn == 2}" type="button">Perfil</button>
        <button (click)="goSecurityProfile()" [ngClass]="{btnConfig: clickBtn == 3}" type="button">Seguridad</button>
    </div>

    <div class="configPhotoProfile" *ngIf="clickBtn == 1">

        <input class="inputImg" type="file"  (click) = "imgsUpload($event)">
        <div class="imgPrev">
            <img [src]="previsualizacion" >
            
        </div>
    </div>

    <!-- <p>cerrar sesion</p> -->

</div>

