$Primary: #11D469
$Secundary: #0DA351
$Background: #DBDBDB
$Alert: #FEF102
$Dark: #053D1E
$Black: #000000
$White: #FFFFFF

.contProfile
    position: relative
    width: auto
    height: 85vh
    background-color: $Background
    .textProfile
        text-align: center
        // justify-content: center
        svg
            float: left
            width: 25px
            height: 35px
            margin-left: 0.5rem
            fill: #8a8787
        h2
            margin-top: 10px
        .barra
            width: 70%
            height: 1px
            margin-left: 20%
            background-color: #8a8787
    


